
* {
    margin: 0;
    padding: 0;
}

.center {
    width: 420px;
    margin: 0 auto;
    user-select: none;


}
.top{
    width: 430px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top h4 {
    margin-top:5px;
}


.top div {
    width: 38px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.all {
    width: 450px;
    height: 280px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    display: none;
}

.week-date {
    margin-top: 10px;
    width: 420px;
    height: 30px;
}

.week-date ul {
    display: flex;
    width: 420px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.now-date {
    width: 420px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;

}

.all-date {
    color: black;
    cursor: pointer;
    width: 53px;
    line-height: 32px;
    --hoverColor:#fad8d8;
}

.all-date:hover {
    background-color: var(--hoverColor);
}


.now-date .click-date {
    background-color: black !important;
    color: white;
}


.insert {
    color: #a4a3a3;
    cursor: not-allowed;
    width: 53px;
    line-height: 32px;
}

/* @property --afterMonth {
    syntax: "<string>";
    initial-value: "12";
    inherits: true;
} */

:root {
    --afterMonth:"12";
    
}

.all::after {
    content: var(--afterMonth);
    width: 250px;
    text-align: center;
    position: absolute;
    top: 11%;
    left: 21%;
    font-size: 200px;
    font-weight: bold;
    color: #e7e7e7;
    z-index: -1;
}

.bottom {
    width: 420px;
    height: 50px;
    position: fixed;
    left: 228px;
    bottom: 332px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* text-align: center; */
    padding-left: 35px;
    line-height: 55px;
   
}

.bottom_in {
    width: 420px;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px;
    line-height: 55px;
}

.bottom svg {
    position: absolute;
    top: 17px;
    left: 10px;
    
}




